<div class="container">
	<div class="row">
		<div class="span6">
			<%= form_for @tweet do |f| %>
			<p><%= f.label :from, 'From:' %><%= f.text_field :zombie_id %></p>
			<p><%= f.label :status, 'Status: ' %><%= f.text_area :status %></p>
			<%= f.submit :class => 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>